@font-face {
    font-family: 'Old City2';
    src: url('fonts/OldCity2-Regular.woff2') format('woff2'),
        url('fonts/OldCity2-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WestPhilly4';
    src: url('fonts/WestPhilly4-Regular.woff2') format('woff2'),
        url('fonts/WestPhilly4-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Obvious Philly Dingbats2';
    src: url('fonts/ObviousPhillyDingbats2-Regular.woff2') format('woff2'),
        url('fonts/ObviousPhillyDingbats2-Regular.woff') format('woff'),
        local('fonts/ObviousPhillyDingbats2-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

body {
    
    background-image: linear-gradient(to bottom right, #a5acaf, #acc0c6, #004c54);
}

.btn { background-image: linear-gradient(to bottom right, black, #acc0c6);
color: white;}

h1{
    font-family: 'Old City2';
    font-weight: normal;
    font-style: normal;
}
select    {
    margin-bottom: 1em;
    max-width: 300px;
}

#submit {
    font-family: 'WestPhilly4';
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.footer {
    font-family: 'WestPhilly4';
}
h3  {
    
    font-family: 'WestPhilly4';
}
#title  {
    font-family: 'WestPhilly4';
}
#link   {
    color: black;
}
h2   {
    font-family: 'Obvious Philly Dingbats2';
}

#logo    {
    font-size: 120px;
    color: black;
    font-family: 'Obvious Philly Dingbats2';
    position: absolute;
    top: 0px;
    right: 5px;
}

#photo  {
    width: 200px;
    height: 200px;
}