
body {
    
    background-image: linear-gradient(to bottom right, #a5acaf, #acc0c6, #004c54);
}

.btn { background-image: linear-gradient(to bottom right, black, #acc0c6);
color: white;}

select    {
    margin-bottom: 1em;
    max-width: 300px;
}

#submit {
    /* font-family: 'WestPhilly4'; */
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    /* border-radius: 30%; */
}

.footer {
    /* font-family: 'WestPhilly4'; */
}
h3  {
    
    /* font-family: 'WestPhilly4'; */
}
#title  {
    /* font-family: 'WestPhilly4'; */
}
#link   {
    color: black;
}
h2   {
    font-family: 'Obvious Philly Dingbats2';
}

#logo    {
    width: 50px;
    position: absolute;
    top: 0px;
    right: 5px;
}

#photo  {
    width: 200px;
    height: 200px;
}